
.container{
    width: 100%;
    background-color: rgb(225, 234, 251);
    //background-color: transparent;
    height: 100%;
    //position: absolute !important;
    //top: 0px !important;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;   
    flex-direction: column;
    }
    
    .listContent{
    position: absolute;
    width: 80%;
    height: auto;
    background-color: rgb(225, 234, 251);
    top: 250px;
    
    }
    
    .itemList{
    background-color: rgb(225, 234, 251);  
    }
    
    .item{
    //background-color: rgb(225, 234, 251);
    --background: rgb(225, 234, 251);
    }
    
    
    .font{
        color: rgb(67, 77, 99);
        font-size: medium;
        background-color: white;
        padding : 5px;
    }
    .font2{
        color: rgb(67, 77, 99);
        font-size: medium;
        background-color: white;
        padding : 10px;
    }
        
    
    .icon{
    color: rgb(0, 105, 152);
    }
    
    ion-input{
    --color: rgb(67, 77, 99);
    --placeholder-opacity: .1;
    }

    ion-button {
    width: 190px;
    height: 28px;
    --background: rgb(0, 105, 152);
    //--background-activated: #af3767;
    //--background-activated-opacity: 1;
    //--background-focused: #616e83;
    // --background-focused-opacity: 1;
    // --background-hover: #ff8e38;
    // --background-hover-opacity: 1;
    //--border-color: #3880ff;
    --border-radius: 20px;
    // --border-style: solid;
    //S --border-width: 8px;
    // --box-shadow: 10px 10px;
    //S --color: #ffffff;
    // --color-activated: #ffffff;
    // --color-focused: #ffffff;
    // --color-hover: #ffffff;
    //--opacity: 1;
    // --padding-bottom: 4px;
    //  --padding-end: 4px;
    //  --padding-start: 4px;
    //  --padding-top: 4px;
    // --ripple-color: #1e1e1e;
    //--transition: background-color 15ms linear;
    margin: 20px;
    }
    ion-fab-button {
        --background: rgb(3, 119, 172);
        --background-activated: rgb(0, 105, 152);
        --color: black;
      }

    
    
    .linkregistro{
    width: 280px;
    text-align: end;
    color: rgb(0, 105, 152);
    z-index:1;
    
    }
    .crearCuenta{
    position: absolute;
    top: 25px;
    color: rgb(0, 105, 152);
    }
    

    .containerImg{
        position: absolute;
        bottom: 180px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }