


.container{
width: 100%;
background-color: rgb(225, 234, 251);
height: 100%;
justify-content: center;
align-items: center;
display: flex;
text-align: center;   
flex-direction: column;
}


.itemForm{
background-color: rgb(225, 234, 251);  
width: auto;
height: 100%;
}

.item{
//background-color: rgb(225, 234, 251);
--background: rgb(225, 234, 251);
}
.font0{
    color: rgb(225, 54, 19);
    font-size: x-small;
    
}

.font{
color: rgb(67, 77, 99);
}

.icon{
color: rgb(0, 105, 152);
}

ion-input{
--color: rgb(67, 77, 99);
--placeholder-opacity: .1;
}
ion-button {
width: 120px;
height: 28px;
--background: rgb(0, 105, 152);
//--background-activated: #af3767;
//--background-activated-opacity: 1;
//--background-focused: #616e83;
// --background-focused-opacity: 1;
// --background-hover: #ff8e38;
// --background-hover-opacity: 1;
//--border-color: #3880ff;
--border-radius: 20px;
// --border-style: solid;
//S --border-width: 8px;
// --box-shadow: 10px 10px;
//S --color: #ffffff;
// --color-activated: #ffffff;
// --color-focused: #ffffff;
// --color-hover: #ffffff;
//--opacity: 1;
// --padding-bottom: 4px;
//  --padding-end: 4px;
//  --padding-start: 4px;
//  --padding-top: 4px;
// --ripple-color: #1e1e1e;
//--transition: background-color 15ms linear;
margin: 20px;
}

.crearCuenta{
position: absolute;
bottom: 25px;
color: rgb(0, 105, 152);
}

.imagenContainer{
    border-radius: 20px;
    width: 100%;
    height: 25%;  
}

.newForm{
    background-color: rgb(225, 234, 251);  
    width: 85%;
    height: 100%;  
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

.newForm2{

    width: 85%;
    height: 30%;  
    border-radius: 20px;


}
.col{
    display: flex;
    flex-direction: column;
    position: relative;

}


